body {
    background-color: crimson;
    padding: 2em;
}

#ollie {
    color: blueviolet;
    border: 3px solid black;
}

.paragraph {
    background-color: bisque;
    height: 20px;
    width: 100px;
    text-align: center;
    font-size: x-small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}